#-------------------------------------------------------------------------------
# CLI Shortcuts
#-------------------------------------------------------------------------------

alias reloadcli="source $HOME/.zshrc"
alias reloaddns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias ll="$(brew --prefix coreutils)/libexec/gnubin/ls -ahlF --color --group-directories-first"
alias ls="$(brew --prefix coreutils)/libexec/gnubin/ls -a --color --group-directories-first"
alias cls="clear"

#-------------------------------------------------------------------------------
# Recursively remove .DS_Store files
#-------------------------------------------------------------------------------

alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

#-------------------------------------------------------------------------------
# Homebrew
#-------------------------------------------------------------------------------

alias service="brew services"

#-------------------------------------------------------------------------------
# Some more alias to avoid making mistakes:
#-------------------------------------------------------------------------------

# alias rm='rm -i'
# alias cp='cp -i'
# alias mv='mv -i'

#-------------------------------------------------------------------------------
# Docker
#-------------------------------------------------------------------------------

#alias dc="docker-compose"

#-------------------------------------------------------------------------------
# Override maching ctags
#-------------------------------------------------------------------------------

#alias ctags="`brew --prefix`/bin/ctags"
