[core]
	user = jihwan
	email = zhwan.hwang@gmail.com
	excludesfile = /Users/zhwan/dotfiles/.gitignore_global

[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(auto)%s%C(reset) %C(bold blue)<%an>%C(reset)%C(yellow)%d%C(reset)' --all
#	mylog = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=relative

[color]
	ui = true

[format]
	pretty = oneline

#[push]
#	default = simple

[user]
	name = jihwan
	email = zhwan.hwang@gmail.com
